/* General styles */
body {
  margin: 0;
  font-family: "poppins";
  font-size: 13px;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f3c796;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s; /* add transition effect */
}

.logo {
  margin-bottom: 20px;
  padding: 15px;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 50px;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-item {
  border-radius: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin: 5px 0;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-item i {
  margin-right: 12px;
  font-size: 16px;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item a {
  text-decoration: none;
  color: black;
}

/* Dashboard */
.content {
  margin-left: 200px;
  padding: 20px;
}

/* Scorecard */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Score Card */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #d3d3d3;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-content span {
  margin: 5px 0;
  color: #333;
}

.card-icon {
  font-size: 40px;
  color: #f4b183;
}
/* Modal */

.modal-btn {
  display: inline-block;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 20px;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0, 4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 100px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Chart */
.charts-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.chart {
  width: 48%;
  border: 1px solid #ccc;
}

.chart canvas {
  max-width: 100%;
  max-height: 100%;
}

/* Container for filters */
#filterContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffd966;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.filter {
  flex: 1;
  margin-right: 20px;
}

.chart-container2 {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.chart-container2 canvas {
  max-width: 100%;
  height: auto;
}

#filterContainer label {
  margin-top: 10px;
  margin-bottom: 5px;
}

#filterContainer select {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-container form label {
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

.form-container form input,
.form-container form textarea,
.form-container form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container form button {
  background-color: #f3c796;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.form-container form button:hover {
  background-color: #e0b580;
}

/* Style for sidebar toggle button */
.bar-icon {
  font-size: 24px;
  color: #333;
  padding: 10px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.bar-icon:hover {
  background: #f0f0f0;
}

/* Style for sidebar */
.sidebar {
  background: #333;
  color: #fff;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}
/* Mobile portrait */
@media only screen and (max-width: 480px) {
  .navbar {
    width: 0;
    overflow: hidden;
    display: none; /* hide navbar on small screens */
  }
   .content {
    margin-left: 0; /* remove margin on small screens */
    width: 100%; /* make content full-width on small screens */
  }
  .cards {
     flex-wrap: wrap;
   }
  .card {
     flex: 1 1 calc(50% - 20px);
   }
  .charts-container {
     flex-direction: column;
   }
  .chart {
     width: 100%;
     margin-top: 40px;

   }
  .form-container {
     height: 50vh;
   }
   .chart-container2 {
    max-width: 300px;
    margin: 10px auto;
  }
 }
 
 /* Mobile landscape */
 @media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
     width: 150px;
   }
  .nav-item {
     width: 120px;
   }
  .content {
     margin-left: 150px;
   }
  .cards {
     flex-wrap: wrap;
   }
  .card {
     flex: 1 1 calc(33% - 20px);
   }
  .charts-container {
     flex-direction: column;
   }
  .chart {
     width: 100%;
     margin-top: 40px;
   }
  .form-container {
     height: 50vh;
   }
   .chart-container2 {
    max-width: 350px;
    margin: 15px auto;
  }
 }
 
 /* Tablet portrait */
 @media only screen and (min-width: 768px) and (max-width: 834px) {
  .navbar {
     width: 200px;
   }
  .nav-item {
     width: 160px;
   }
  .content {
     margin-left: 200px;
   }
  .cards {
     flex-wrap: wrap;
   }
  .card {
     flex: 1 1 calc(25% - 20px);
   }
  .charts-container {
     flex-direction: column;
   }
  .chart {
     width: 100%;
     margin-top: 40px;
   }
  .form-container {
     height: 50vh;
   }
   .chart-container2 {
    max-width: 400px;
    margin: 20px auto;
  }
 }
 
 /* Tablet landscape */
 @media only screen and (min-width: 835px) and (max-width: 1090px) {
  .navbar {
     width: 200px;
   }
  .nav-item {
     width: 100px;
   }
  .content {
     margin-left: 250px;
   }
  .cards {
     flex-wrap: wrap;
   }
  .card {
     flex: 1 1 calc(20% - 20px);
   }
  .charts-container {
     flex-direction: column;
   }
  .chart {
     width: 100%;
     margin-top: 40px;
   }
  .form-container {
     height: 50vh;
   }
   .chart-container2 {
    max-width: 450px;
    margin: 25px auto;
  }
 }
