body {
  margin: 0;
  font-family: "poppins";
  font-size: 13px;
}

/* Navigation */
.navbar {
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f3c796;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0, 1);
}

/* Logo */
.logo {
  margin-bottom: 20px;
  padding: 15px;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 50px;
}

/* Navigation Items */
.navbar {
  display: flex;
  flex-direction: column;
}

.nav-items {
  display: flex;
  flex-direction: column;
}

.nav-item {
  border-radius: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin: 5px 0;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-item i {
  margin-right: 12px;
  font-size: 16px;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-item a {
  text-decoration: none;
  color: black;
}

/* Dashboard */
.content {
  margin-left: 200px;
  padding: 20px;
}

.container {
  width: 70%;
}

.chart-container {
  margin-bottom: 50px;
  width: 100%;
  height: 300px;
}
.chart-container canvas {
  max-width: 100%;
  max-height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
/* Responsive styles */
/* Mobile portrait: <= 480px */
@media (max-width: 480px) {
  .navbar {
    width: 150px;
  }
  .content {
    width: 100%;
  }

  .container {
    width: 100%;
    margin: 10px;
  }
  .chart-container {
    width: 90%;
    height: 90%;
  }
}

/* Mobile landscape: <= 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    width: 150px;
  }
  .content {
    width: 100%;
  }

  .container {
    width: 100%;
    margin: 10px;
  }
  .chart-container {
    width: 95%;
  }
}

/* Tablet portrait: <= 834px */
@media only screen and (min-width: 769px) and (max-width: 834px) {
  .navbar {
    width: 150px;
  }

  .content {
    margin-left: 160px;
    padding: 20px;
  }

  .container {
    width: calc(100% - 210px);
  }

  .chart-container {
    width: 100%;
  }
}

/* Tablet landscape: <= 1090px */
@media only screen and (min-width: 835px) and (max-width: 1090px) {
  .navbar {
    width: 200px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    font-size: 50px;
    margin-top: 30px;
  }

  .nav-item {
    width: 100px;
    padding: 15px 20px;
  }

  .content {
    margin-left: 200px;
    padding: 20px;
  }

  .container {
    width: 70%;
  }

  .chart-container {
    width: 100%;
  }
}
