body {
    margin: 0;
    font-family: Arial, sans-serif;
}
 /* Navigation */
.navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f3c796;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0,1);
}

/* Logo */
.logo {
    margin-bottom: 20px;
}

.logo img {
    max-width: 250px;
}


 /* Navigation Items */
 .navbar {
    display: flex;
    flex-direction: column;
 }

 .nav-items {
    display: flex;
    flex-direction: column;
 }

.nav-item {
    border-radius: 20px;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin-top: 5px;
    padding-top: 20px;
    color: black;
    cursor: pointer;
    transition: background 0.3s;
    margin-bottom: 5px;
}

.nav-item i {
    margin-right: 12px;
    font-size: 16px;
}

.nav-item span {
    font-size: 16px;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Dashboard */
.content {
    margin-left: 200px;
    padding: 20px
}

/* Scorecard */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-icon {
    position: absolute;
    color : #f3c796;
    right: 0;
    top: 0;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 50px;
}
/* Score Card */
.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    background-color: #d3d3d3;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0,1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex: 1 1 21%;
    min-width: 250px;
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    transition: transform 0.2s;
}


.card:hover{
    transform: translateY(-5px);
}

.card-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.card-content span {
    margin: 5px 0 0;
    color: #333;
    line-height: 1.5;
}


.card-icon {
    font-size: 40px;
    color: #F4B183;
}

@media (max-width: 1024px) {
    .card {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%
    }
}


/* Chart */
canvas {
    width: 100%;
    padding: auto;
}

.content-chart {
    border: 1px solid grey;
    border-radius: 2px;
    position: absolute;
    color : #f3c796;
    right: 0;
    top: 0;
    padding: 20px 0;
    margin-top: 300px;
    margin-left: 50px;
    margin-right: 25px;
    margin-bottom: 500px;
    font-size: 500px;
}

#chartRevenuePerLocation {
    margin: 33px;
    margin-bottom: 30px;
    margin-right: 35px;
}
.border-container {
    grid-template-columns: 80% 1fr;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    margin-top: 50px;
}

