/* h1 = 55px */
/* h2 = 50px */

body {
  overflow-x: hidden;
  width: 100%;
  font-family: poppins;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #F3C796;
  background-size: cover;
  background-image: url("../img asset/Main Background.jpg");
  background-blend-mode: multiply;
}

#welcome::before,
#dataset::before,
#benefit::before {
  content: '';
  display: block;
  height: 60px; /* Sesuaikan dengan tinggi navbar Anda */
  margin-top: -60px; /* Sesuaikan dengan tinggi navbar Anda */
  visibility: hidden;
}

.container {
  height: 650px;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #D29C75;
  position: fixed;
  top: 0; 
  left: 0; 
  z-index: 1000; 
}

nav a {
  color: white;
  margin-left: 15px;
  margin-right: 20px;
}
nav a:hover {
  transform: scale(1.1)
}
nav img {
  height: 50px;
  width:50px;
  border-radius: 50%;
  margin-left: 800px
}
.welcome h1 {
  color: brown;
  font-weight: bold;
  font-size: 55px;
  margin-left: 50px;
  margin-top: 75px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
#explore {
  background-color: #D29C75;
  border: none;
  padding: 10px 15px;
  width: 340px;
  height: 100px;
  border-radius: 25px;
  font-size: 30px;
  font-weight: 800;
  opacity: 60%;
}
a {
  color: white;
  font-family: poppins;
  text-decoration: none;
}
.button:hover {
  transform: scale(1.1);
}

.coffee {
  display: flex;
  justify-content: right;
  flex-direction: row;
  margin-right: 70px;
  margin-top: 80px;
}
.coffee h2 i{
  color: brown;
  font-size: 30px;
}
.coffee img {
  width: 150px;
}

.container2 {
  margin-top: -130px;
  height: 250px;
  align-items: center;
  display: block;
  
}



.container2 h2 {
  color: white;
  font-size: 50px;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.container2 h3 {
  font-size: 25px;
  display: block;
  line-height: 10px;
  color: white;
  margin-left: 110px;
}

.container2 h3 a {
  font-style: italic;
  text-decoration: underline;
}

.container2 img {
  height: 15rem; 
  margin-left: 25rem;
  display: flex;
  margin-bottom: 15rem;
  width: 25rem;
}

.container3 {
  height: 18rem;
  margin-top: 18rem;
  background-color: #D29C75;
  background-size: cover;
  background-image: url("../img asset/Background 2.png");
  background-blend-mode: multiply;
}

.container3 h2 {
  color: white;
  font-size: 50px;
  margin-left: 45px;
}

.container3 h3 {
  margin-left: 350px;
  line-height: 15px; 
  color: white;
  font-style: italic;
  font-weight: 300;
}
.line1 {
  display: flex;
  align-items: flex-start;
  margin-top: -100px;
  margin-left: 0;
}
.benefit-list {
  text-align: justify;
  color: white;
  margin-top: 20px;
  margin-left: 350px;
}
.container4 {
  justify-content: center;
  display: flex;
  align-items: center; 
  gap: 10px; 
  color: white;
}

.line3, .line4 {
  width: 700px; 
  height: 2px;
  background-color: white;
}

ion-icon {
  font-size: 30px; /* Adjust icon size as needed */
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: white;
}
@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
  nav a {
    font-size: 14.5px;
    margin-left: 3.6px;
    margin-right: 20px;
  }
  .container h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .welcome h1 {
    margin-left: 15px;
  }
  .coffee {
    margin-left: 15px;
  }
  .coffee img {
    width: 170px;
    height: 200px;
  }
  .container h2 {
    margin-top: 5px;
  }
  .container2 {
    margin-top: 120px;
     display: flex;
     flex-direction: column;
  }
  .container2 img {
    width: 20rem;
    height: 12rem;
    margin-left: 0;
  }
  .container3 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    margin-bottom: 10px;
    height: 21rem;
    margin-top: 15rem
  }
  .container3 #benefit {
    margin-left: 38px;
    margin-top: 15px;
  }
  .container3 h3 {
    margin-left: 38px;
    margin-top: 0px;
  }
  .benefit-list {
    margin-top: 32px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 320px) {
  body {
    overflow: hidden;
  }

  .container2 img {
    display: flex;
  justify-content: right;
  flex-direction: row;
  }

}

.container5 {
  display: flex;
  justify-content: center;
  width: 99%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.contact-info, .contact-form {
  padding: 20px;
  width: 50%;
}

.contact-info {

  position: relative;
}

.contact-info h2 {
  color: #333;
}

.contact-info p {
  color: #555;
  line-height: 1.6;
}

.contact-info a {
  display: block;
  margin-bottom: 10px;
  color: #555;
  text-decoration: none;
}

.contact-info a img {
  vertical-align: middle;
  margin-right: 8px;
}




.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #007BFF;
}

.contact-form button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #6a0dad;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #5c0ba6;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }

  .contact-info, .contact-form {
      width: 100%;
  }
}

.contact-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-wrap {
  position: absolute;
  margin-left: 38px;
  width: 50%;
  text-align: left;
}



.contact-tagline {
  line-height: 10px;
  font-size: 20px;
  color: white;
}

.contact-desc img {
  width: 30px;
  height: 30px;
}

.contact-desc .email {
  position: absolute;
  left: 40px;
  top: 66px;
}

.ig-icon {
  position: absolute;
  top: 150px;
  left: 0px;
}

.ig {
  position: absolute;
  left: 40px;
  top: 135px;
}

.contact-us .masukan {
  width: 50%;
  text-align: right;
}